<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration Form</title>
  <link rel="stylesheet" th:href="@{/employee-form.css}">
</head>
<body>

<h2>Employee Registration</h2>

<form th:action="@{/employees/save}" th:object="${employee}" method="POST">
   <input type="hidden" th:field="*{id}">
  <!-- First Name -->
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" required>

  <!-- Last Name -->
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" required>

  <input type="submit" value="Register">
</form>
<a th:href="@{/employees/list}"> Go back to employee list</a>
</body>
</html>
